@import '../@shared/class.scss';
/*LOADING*/
.container-loading{
    // width: 100%;
    // height: 100%;
    background:linear-gradient(45deg,$primary-color,$third-color);
}
.image{
    img{
        width: 90vw;
    }
}
.loading{
    position: absolute;
    top: 50%;
    left: 40%;
    width: 20%;
    height: 20px;
    .progressbar-container{
        width: 100%;
        .progressbar{
            background:$secondary-color;
            small{
                display: block;
                text-align: center;
                color: $third-color;
            }
        }
    }
}
.container-bounce{
    display: flex;
    .bounce{
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: $third-color;
    }

}

/*icon card*/
.icons{
    left: 45%;
    display: flex;
    column-gap: 10px;
}
@media (max-width:500px){
    .icons{
        left: 30%;
        right: 0;
        display: flex;
        column-gap: 5px;
    }
}

/*typewriter*/
.container-writer{
    align-self: center;
    span{
        font-size: $title-size ;
        color: $primary-color;
    }
}
@media (max-width:500px){
    .container-writer{
        justify-self: center;
        grid-row: 2/3;
        span{
            font-size: $subtitle-size;
            padding: 10px;
        }
    }
}

/*FORM*/
.container-remarks{
    border: 1px solid red;
}
.wrapper-form{
    flex-basis: 55%;
    // margin: auto;
    form{
        width: 100%;
        margin: auto;
        display: grid;
        row-gap: 10px;
        div{
            input,textarea{
                width: 100%;
                background: transparent;
                border: none;
                box-shadow: 1px 2px 5px #b5b6c593,
                            -1px -2px 5px #c0c1cc93;
                padding: 10px;
                color: $primary-color;
                outline: none;
            }
        }
    }
    .buttonNeomorphic{
        background: $primary-color;
        color: $secondary-color;
        font-size: $text-size;
        border: none;
        &:hover{
            background: $secondary-color;
            color: $third-color;
            cursor: pointer;
        }
    }
}